*{padding: 0;
margin: 0;}
.sec-4{
   display: flex;
   background-color: white;
   max-width: 990px;
   margin: auto;     
   
}
.sec-5{
   background-image:url(./media/background\ img.jpg ) ;
   
   width: 990px;
   height: 500px;
   margin: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;

}
.sec-6  p{color: white;
   font-size: 30px;

}
   .sec-7{
      width: 980px;
      height: 490px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 14px;
      align-items: center;
      background-color: black;
      color: white;
      padding: 14px;
      /* margin-top: 20px; */

   }
 
nav{

   background-color: rgba(218, 235, 9, 1);
   display: flex;
   flex-direction: column;
}
.lists{
   display: flex;
   gap: 20px;
   padding: 22px;
   list-style: none;
   align-items: center; 
   justify-content: center;
   font-size: bold
   ;
   
}
.lists li{
   border: 1px solid  rgba(218, 235, 9, 1);
   cursor: pointer;
}

.lists li :hover{
   background-color: black;
   border-radius: 12px;
   border: 2px dashed
   white;
}
.sec-1{
   display: flex;
   flex-direction: column;
   max-width: 700px;
    
}
.sec{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
   max-width: 990px;
   margin: auto;
   align-items: center;
   padding-left: 12px;
  
}
.sec-2{
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   justify-items: center;
   max-width: 990px;
   gap: 20px;
   margin-top: 20px;

}
.sec-2 img{
   border-radius: 7px;
}